parameters/
TP_8_QKVP_24_MHA_16_FFN_96_mem_opt/
TB_8_QKVO_FNN_16_64_MHA_8_32_mem_opt/
work.out/
build/
*.gguf
*/__pycache__
*.bak
*.log
*.xo
*.o
__pycache__/
build_make/
RapidStream/build/
SpinQuant_Llama_32_1B_Ins/SpinQuant_Decoding_mem_opt
SpinQuant_Llama_32_1B_Ins/run/SpinQuant_Decoding_mem_opt
SpinQuant_Llama_32_1B_Ins/run/SpinQuant_Prefilling_Incremental_Decoding_mem_opt_tb
SpinQuant_Llama_32_1B_Ins/run/my_prompt_token_idx.txt
SpinQuant_Llama_32_1B_Ins/run/my_sampled_token_idx_*.txt
