# Set part to the exact V80/XCV80 device string installed in your Vivado release.
part=REPLACE_WITH_INSTALLED_XCV80_PART

[hls]
clock=300MHz
flow_target=vivado
syn.top=single_lane_top
syn.file=single_lane_top.cpp
syn.file_cflags=single_lane_top.cpp,-I../include
syn.blackbox.file=../blackbox/dsp58_dot3_int8.json
package.output.format=ip_catalog
package.output.syn=false
